@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-gta {
    text-shadow: 2px 2px 0px #000;
  }
  
  .clip-path-slant {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

body {
  background-color: #111;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #2E8B57;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3cb371;
}